@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	font-size: 12px;
}
body {
	background-color: #F5F5F5;
}

.top {
	width:100%;
	height:27px;
	background-image:url(../images/top_bg.jpg);
	background-repeat:repeat-x;

}
.top_content{
	width:1000px;
	margin:0 auto;　/*通过这种方法可以让一个盒子居中*/
	background:red;  
}

.top_content li {
	float:right;
	list-style-image:url(../images/li_bg.gif);
	width:70px;
	line-height:27px;/*通过设置行高相等，可以在盒子中居中　技巧*/
}

.top_content a:link, .top_content a:visited {
	color: #8E8E8E;
	text-decoration: none;
}
.top_content a:hover, .top_content a:active {
	color: #C00;
	text-decoration: none;
}

/**********logo*********/
.wrap{
	width:1000px;
	margin:auto ;
}
.logo {
	height: 80px;
	background-color: white;　/*测试　white	*/
}

.logo_left {
	float: left;
	display: inline;
}
.logo_right {
	/*background-color:white;				/*测试	*/
	width: 300px;/*实现定位　用padding也行*/
	height: 28px;
	margin-top: 30px;
	float: right;
	display: inline;
	color: #8E8E8E;
}
.logo_right img {
	vertical-align: middle; /*竖直方向对齐*/
	margin-right: 10px;/*弄一点空隙*/
}
.tel {
	font-family: "微软雅黑";
	font-size: 22px;
	color: #C00;
}

/*****nav*****/
.nav {
	height: 40px;
}
.nav_left {
	width: 10px;
	background: url(../images/nav_left.jpg) no-repeat;
}
.nav_mid {
	width: 980px;
	background: url(../images/nav_bg.jpg) repeat-x;
	line-height: 40px;
}
.nav_right {
	width: 10px;
	background: url(../images/nav_right.jpg) no-repeat;
}
.nav_left, .nav_mid, .nav_right {
	height: 40px;
	float: left;
}
.nav_mid li {
	float: left;
	list-style-type: none;
	width: 100px;
	font-family: "微软雅黑";
	text-align: center;
}
.nav_mid a:link, .nav_mid a:visited {
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
}
.nav_mid a:hover, .nav_mid a:active {
	font-size: 16px;
	color: #FF0;
	text-decoration: none;
}
.nav_mid_left {
	width: 680px;
	/*background-color:green;/*测试*/
}
.nav_mid_right {
	width: 300px;
	/*background-color:yellow;/*测试*/
}
.nav_mid_left, .nav_mid_right {
	float: left;

}
.search_text {
	width: 200px;
	height: 25px;
	margin-top: 5px;
	/*background: url(../images/search.jpg) no-repeat right center;*/
	background-image:url(../images/search.jpg);
	background-repeat:no-repeat;
	background-position:right center;
	background-color: #FFF;
	border: 1px solid #FFF;
	padding-right: 25px;
}

/**ad*/
.ad {
	height: 310px;
	margin-top:5px;
	overflow: hidden;
	
}

/******main****/
.main{
  	height:250px;
	/*background-color:#8e8e8e;  测试*/
	margin-top:2px;
}
.news{
	width:340px;
	border:1px solid black;
	/*background-color:#8e8e8e;  测试*/
}
.course{
	width:410px;
	border:1px solid red;
	/*background-color:#8e8e8e;  测试*/
	margin:0 7px;
}
.sidebar{
	width:230px;
	border:1px solid green;
	/*background-color:#8e8e8e;  测试*/
}

.news,.course,.sidebar {
	height:250px;
	float:left;
}

.title_news{
	height:35px;
	border-bottom:2px solid #E8E8E8;
}
.title_left{
	width:70%;
	font-size:14px;
	font-family:微软雅黑;
	font-weight:900;
	color:#786F66;
	float:left;
	line-height:35px;
	padding-left:20px;
}
.title_right{
	width:20%;
	line-height:35px;
	float:right;
	/*color:#999999;
	text-decoration:none;        放在这不起作用*/
}
.title_right a{
	color:#999999;
	text-decoration:none;
}

.pic_news{
	height:80px;
	margin-top:10px;
	font-size:1px;
}
.pic_news img{
	float:left;
	margin:0 5px;
	
}

.pic_news a{
	color:#C00;
	text-decoration:none;
}

.news_list {
	/*height:90px;*/
	margin-top: 20px;
}
.news_list li{
	list-style-type:none;
	background:url(../images/list.jpg) no-repeat;/*list-style-image	容易出界*/
	padding-left:10px;
	margin:6px;
	border-bottom:1px dotted #CCC;
}

.news_list a:link,.news_list a:visited{
	text-decoration:none;
	color:#000;
}
.news_list a:hover,.news_list a:active{
	text-decoration:none;
	color:#F00;
}
.news_list span{
	color:#CCC;
	float:right;
}

/******course****/
.course_pic{
	height: 120px;
	margin-top: 10px;
	line-height: 18px;
}
.course_pic img{
	float:left;
	margin:0 5px;
	
}

.course_pic a{
	color:#C00;
	text-decoration:none;
	
}

.course_type{
	width: 372px;
	height: 37px;
	background: url(../images/product_type_bg.jpg) no-repeat;
	margin: 20px auto;
}
.course_type li {
	list-style-type: none;
	float: left;
	line-height: 37px;
	/*	width:65px;
*/	text-align: center;
	margin: 0 15px;
}

/*****sidebar****/
.video {
	height: 185px;
	margin-bottom: 10px;
	border: 1px solid #E8E8E8;
}
.video_content {
	height: 150px;
}
.sidebar{
margin-top:10px;
}
.copyright {
	width: 100%;
	height: 200px;
	background-color: #E8e8E8;
	margin-top: 10px;
}
.copyright_content {
	width: 1000px;
	height: 180px;
	margin: 0 auto;
	padding-top: 20px;
}
.copyright_content li {
	list-style-type: none;
	float: left;
	width: 200px;
	background: url(../images/line.png) no-repeat right center;
	text-align: center;
	line-height: 30px;
	
}
.copyright_content a{
	text-decoration:none;
	color:#999;
	font-size:18px;
	font-family: "微软雅黑";
}
.copyright_content li ul li a{
	font-size: 14px;
}

/*新闻中心页*/
.list_main{
	height:350px;
	background-color:#FFF;
	margin-top:10px;
}
.news_type{
	width:300px;
	height:350px;
	border:1px solid #E8E8E8;
	background-color:green;

}
.list_box{
	width:670px;
	height:350px;
	border:1px solid #E8E8E8;
	background-color:yellow;
	float:left;
}
